<!DOCTYPE html>
<html>
    <head>
        <title>The Unhappy Hour Fantasy Football Finals</title>
        <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div id="content">
            <div class="subrow">
                <img src="/images/Zangiefclean.png" />
            </div>
            <div class="subrow">
                <h1>VS.</h1>
            </div>
            <div class="subrow">
                <img src="/images/Dhalsimclean.png" />
            </div>
            <div class="clear" />
            {% for team in teams %}
                <table class="team_table">
                    {% for row in team %}
                        <tr class="player_row">
                            {% for column in row %}
                                <td class="player_column">{{ column }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        </div>
    </body>
</html>