<!DOCTYPE html>
<html>
    <head>
        <title>The Unhappy Hour Fantasy Football Finals</title>
        <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div id="content">
            <div style="text-align: center; width: 100%;">
                <span style="width: 33%;">
                    <img src="/images/Zangiefclean.png" style="width: 250px; height: auto;"/>
                </span>
                <span style="width: 33%;">vs</span>
                <span style="width: 33%;">
                    <img src="/images/Dhalsimclean.png" style="width: 250px: height: auto;"/>
                </span>
            </div>
            <div class="clear"></div>
            {% for team in teams %}
                <table class="team_table">
                    {% for row in team %}
                        <tr class="player_row">
                            {% for column in row %}
                                <td class="player_column">{{ column }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        </div>
    </body>
</html>
