<!DOCTYPE html>
<html>
    <head>
        <title>The Unhappy Hour Fantasy Football Finals</title>
        <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div id="content">
            <table style="text-align: center; width: 100%">
                <tr style="width: 100%;">
                    <td style="width: 40%;">
                        <img src="/images/Zangiefclean.png" class="player_image" />
                    </td>
                    <td style="width: 20%;">
                        <img src="/images/vs.png" class="vs_image" />
                    </td>
                    <td style="width: 40%;">
                        <img src="/images/Dhalsimclean.png" class="player_image" />
                    </td>
                </tr>
            {#<div style="text-align: center; width: 100%">#}
                {#<span>#}
                    {#{{ teamAdditional.0.name }}#}
                {#</span>#}
                {#<span>&nbsp;</span>#}
                {#<span>#}
                    {#{{ teamAdditional.1.name }}#}
                {#</span>#}

            <div class="clear"></div>
            {% for team in teams %}
                <table class="team_table">
                    {% for row in team %}
                        <tr class="player_row">
                            {% for column in row %}
                                <td class="player_column">{{ column }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        </div>
    </body>
</html>
